@{
    ViewData["Title"] = "Home Page";
}
<h1>Default Blank Page~</h1>
<form action="/addQuote" method="POST">
    <label for="UserName"></label>
    <input type="text" name="UserName" value="" placeholder="enter your name">
    <br>

    <label for="Quote"></label>
    <textarea name="Quote" id="" cols="60" rows="10"></textarea>
    <br>
    <button name="submit">Add my quote!</button>
    <a href="/quotes">Skip to the quotes!</a>
</form>

